.reservation-card {
    height: 400px;
    width: 1500px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border: 2px solid lightblue;
    border-radius: 10px;
}

.reservation-image {
    height: 400px;
    width: 650px;
    border-radius: 9px 0 0 9px;
}

.info-card {
    display: flex;
    flex-direction: row;
}


.listing-info {
    width: 425px;
    height: 400px;
    
}