.listings {
    padding: 20px;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding-right: 23px;
}

.my-datepicker {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 36px;
    width: 165px;
    padding-left: 10px;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #14213D;
    margin: 0 15px 0 0;
    background: white
}

.my-datepicker p {
    margin-left: 15px;
    margin-bottom: 0px;
}

.search-text-field {
    border: 1px solid #14213D;
    margin: 0 5px 0 0;
    border-radius: 10px;
    width: 400px;
    height: 36px;
    padding: 0 32px;
    font-size: 16px
}

.search-icon {
    margin: 0 !important;
    top: 50% !important;
    /* Vertically center the icon */
    left: 10px !important;
    /* Adjust the value to position the icon */
    transform: translatex(-2475%) translatey(10%) !important;
    z-index: 10 !important;
}

.search-button {
    border-radius: 10px;
    height: 36px;
    width: fit-content;
    color: #F9F8F8;
    background-color: #4D7093;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 1px 50px;
}

.listing-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    height: 100%;
}
/**
.filterbox {
    background-color: lightgrey;
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
}

.find-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}



.filter-button {
    border-radius: 10px;
    height: 36px;
    width: fit-content;
    color: #F9F8F8;
    background-color: #14213E;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 4px 8px;
}
*/
.side-menu {
    width: 250px;
    height: 50%;
    background-color: #c2c9ea;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 100;
    left: -250px;
    transition: left 0.3s;
}

.side-menu.open {
    left: 0;
}
/**
label {
    display: block;
    margin: 20px;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 10px;
  }

input[type="range"] {
    width: 100%;
}
input[type=checkbox] {
    width:20px; height:20px;
}

button {
    height: 30px;
    width: fit-content;
    color: #F9F8F8;
    background-color: #14213E;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    border-radius: 5px;
}

label {
    color: black
}
*/
h3{
    color: black;
    text-align: center;
}
.filterbox {
    display: flex;
    flex-direction: column;
    padding: 30px 20px; /* Increased top padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #4D7093, #87A3C0); /* Main color */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5 ); /* Subtle shadow effect */
  }
  
  .filterbox h2 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .filterbox label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .filterbox input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .filterbox input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .filterbox button {
    padding: 8px 16px;
    border: 1px solid #007bff;
    color: #007bff;
    cursor: pointer;
  }

  .filterobx input{
      color: white;
  }
.form-item{
    padding: 10px;
}
