body {
  background-color: #F9F8F8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background: #14213D;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  gap: 2rem;
  padding: 0 1rem;
}

.site-name {
  color: #FBB03B;
  font-size: 3rem;
  font-Weight: 600;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  padding: 1rem
}

.middle-link {
  color: #F9F8F8;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.middle-link:hover {
  color:#FBB03B;
}


.button-link {
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: none;
  border: 3px solid #FBB03B;
  color:#FBB03B;
  margin: 16px;
  margin-left: 0px;
  font-size: 1.25rem;
  font-weight: 800;
}

.button-link:hover {
  color: #14213D;
  background-color: #FBB03B;
}

.row {
  list-style: none; /* Remove default list bullets */
  display: flex; /* Use a flex container */
  padding: 0; /* Remove default list padding */
}

.user-name {
  color: white;
  background: none;
  border: none;
  font-size: 1.5rem;
}

.user-name:hover{
  color: #Fbb038
}